.projects {
	height: auto;
	background-color: $section-color;
	padding: 50px;
	color: $text-color;

	&__block {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	&__header {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin-bottom: 60px;

		&-img {
			flex-shrink: 0;
		}

		&-title {
			width: 100%;
			max-width: 340px;
		}
	}

	&__title {
		font-size: 44px;
		text-transform: capitalize;
	}

	&__subtitle {
		font-size: 17px;
		font-weight: 400;
	}

	&__menu {
		display: flex;
		justify-content: center;
		margin-bottom: 60px;

		&-item {
			margin-right: 10px;


			.btn {
				text-transform: capitalize;
				padding: 5px 25px;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.row {
		justify-content: space-between;
	}

	.projects__cards-card {
		border-radius: 5px;
		width: 100%;
		height: 100%;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px;
	}

	.projects__cards-img {
		width: 100%;
	}

	.img-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $section-color;
		border-radius: 5px;
		padding: 10px;
	}

	.projects__cards-links {
		display: flex;
		justify-content: space-between;
		padding: 10px;
		width: 100%;
		&-link {
			display: inline-block;
			width: 50%;
			margin: 0;
			text-align: center;
			font-size: 20px;
			color: #6c757d;

			&:first-child {
				border-right: 1px solid $section-color;
			}
		}
	}
}